.pic-container {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translateY(-50%);
  
  .solid-pic {
    width: 75%;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}



    

